.videos {
  margin-bottom: 200px;
  position: relative;
}

.videos__title {
  margin-bottom: 60px;
}

.slider__wrapper {
  position: relative;
  overflow: initial !important;
}

.videos__slider-inner {
  width: 100%;
  height: 400px;
  max-width: 700px;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.videos__slider-inner::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotate(180deg);
  background: linear-gradient(0deg, rgba(0, 102, 255, 0) 25%, rgba(0, 56, 140, 0.4) 80%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(0deg, rgba(0, 56, 140, 0.15) 25%, rgba(0, 56, 140, 0.4) 80%, rgba(0, 56, 140, 0.5) 100%);
}

.videos__slider-title {
  font-family: GilroyBold, sans-serif;
  font-size: 32px;
  line-height: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease-in-out;
  color: #fff;
  position: absolute;
  max-width: 90%;
  bottom: -20%;
  left: 5%;
}

.videos__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videos__slider-play {
  cursor: pointer;
  transition:
    top 0.7s ease-in-out,
    transform 0.3s ease-in-out;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 80px;
  top: -20%;
  left: 10%;
}

.videos__slider-play:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

/* slider */
.slide-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: initial !important;
}

.slider__item-skeleton {
  margin-top: 0 !important;
  height: 100% !important;
  max-height: 400px;
}

/* swiper */
.active--slide {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.videos .swiper-slide {
  width: 660px;
}

.active--slide .videos__slider-play {
  top: 15%;
}
.active--slide .videos__slider-title {
  bottom: 5%;
}
/* // swiper */

@media (max-width: 840px) {
  .videos__slider-inner {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .videos__title {
    margin-bottom: 30px;
  }
  .videos__slider-inner {
    width: 90%;
  }
  .videos .active--slide {
    transform: scale(1);
  }
}

@media (max-width: 640px) {
  .videos__slider-inner {
    margin: 0;
  }
  .videos__slider-title {
    font-size: 28px;
  }
  .videos__slider-play {
    left: 14%;
  }
}

@media (max-width: 550px) {
  .videos {
    margin-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .videos__slider-title {
    font-size: 24px;
  }
  .videos__slider-play {
    left: 16%;
  }
}
