.button {
  margin-top: 0px;
  cursor: pointer;
  font-size: 20px;
  color: var(--primary-color);
  // font-family: GilroyBold, sans-serif;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  padding: 12px 33px 15px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.button:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.button:disabled {
  opacity: 0.5;
}
.button:disabled:hover {
  cursor: default;
  background-color: transparent;
  color: var(--primary-color);
}
