.stats {
  margin-bottom: 100px;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 40px;
  position: relative;
}

.skeleton-stats {
  margin-bottom: 100px;
}

.stats__inner {
  display: flex;
  justify-content: center;
}

.stats__item {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  padding: 0 40px;
  align-items: center;
  max-width: 300px;
}

.stats__item-inner {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats__item:not(:first-child) {
  border-left: 1px solid #ffffff;
  /* border-right: 1px solid #ffffff; */
}

.stats__number {
  font-family: 'GilroyBold', sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.stats__text {
  font-family: 'GilroyRegular', sans-serif;
  text-align: center;
}

@media (max-width: 1024px) {
  .stats {
    padding: 30px;
  }
  .skeleton-stats {
    height: 160px;
    rect {
      height: 160px;
    }
  }
  .stats__item {
    padding: 0 25px;
  }
}

@media (max-width: 840px) {
  .stats {
    padding: 20px;
  }
  .skeleton-stats {
    height: 140px;
    rect {
      height: 140px;
    }
  }
  .stats__item {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .stats {
    padding: 20px 10px;
  }
  .skeleton-stats {
    height: 241px;
    rect {
      height: 241px;
    }
  }
  .stats__item {
    padding: 0 10px;
  }

  .stats__inner {
    flex-wrap: wrap;
  }
  .stats__item {
    min-width: 50%;
  }
  .stats__item:not(:first-child) {
    border: 0;
  }
  .stats__item:nth-child(odd) {
    border-right: 1px solid #ffffff;
  }
  .stats__item:nth-child(1),
  .stats__item:nth-child(2) {
    border-bottom: 1px solid #ffffff;
  }
}

@media (max-width: 640px) {
  .stats {
    padding: 20px 0;
  }
  .stats__item {
    padding: 0 10px;
  }
}
